@model ContatoModel
@{
    ViewData["Title"] = "Confirmação de exclusão";
}



<div class="text-center container-fluid">
    <h2 class="display-4">Deseja realmente excluir o contato?</h2>

    <h4>Informações do contato:</h4>
    @*<p>Nome: @Model.nome</p>
    <p>E-mail: @Model.email</p>
    <p>Celular: @Model.celular</p>*@
   <div class="text-justify m-auto">
        <ol class="list-group">
            <li class="list-group-item"><strong>Nome</strong>: @Model.nome</li>
            <li class="list-group-item"><strong>E-mail</strong>: @Model.email</li>
            <li class="list-group-item"><strong>Celular</strong>: @Model.celular</li>
    </ol>
   </div>


    <br />

    <a class="btn btn-danger  btn-md btn-block" role="button" asp-route-id="@Model.id" asp-controller="Contato" asp-action="Apagar">Sim, desejo excluir!</a>
    <a class="btn btn-success btn-md btn-block" role="button" asp-controller="Contato" asp-action="Index">Cancelar, não desejo excluir!</a>

</div>





